apiai==1.2.3
beautifulsoup4==4.6.0
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
enum34==1.1.6
FerrisNose==2.3.1
funcsigs==1.0.2
futures==3.2.0
google==2.0.1
google-api-core==1.2.1
google-api-python-client==1.7.3
google-auth==1.5.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.5.3
grpcio==1.12.1
httplib2==0.11.3
idna==2.7
mock==2.0.0
nltk==3.3
nose==1.3.7
numpy==1.14.5
oauth2client==4.1.2
pbr==4.1.0
protobuf==3.6.0
protorpc==0.12.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
pytz==2018.4
requests>=2.20.0
rsa==3.4.2
six==1.11.0
uritemplate==3.0.0
urllib3==1.23
waitress==1.1.0
WebOb==1.8.2
WebTest==2.0.29
